/* Coolors Exported Palette - coolors.co/49475b-eff1ed-f55d3e-8eb8e5-998fc7 */

/* HSL */
$color1: hsla(246%, 12%, 32%, 1);
$color2: hsla(90%, 13%, 94%, 1);
$color3: hsla(10%, 90%, 60%, 1);
$color4: hsla(211%, 63%, 73%, 1);
$color5: hsla(251%, 33%, 67%, 1);

/* RGB */
$color1: rgba(73, 71, 91, 1);
$color2: rgba(239, 241, 237, 1);
$color3: rgba(245, 93, 62, 1);
$color4: rgba(142, 184, 229, 1);
$color5: rgba(153, 143, 199, 1);